    html {
        scroll-behavior: smooth;
    }
    
     ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    
     ::-webkit-scrollbar-track {
        background: #888;
    }
    /* Handle */
    
     ::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 5px;
    }
    /* Handle on hover */
    
     ::-webkit-scrollbar-thumb:hover {
        background: #35383D;
    }
    
    section {
        padding-top: 10px;
    }
    
    .hr-card {
        width: 100%;
    }
    
    .navbar {
        position: fixed;
        width: 100%;
        opacity: 70%;
        background-color: #1F1E22;
        z-index: 1;
        height: 60px;
    }
    
    .navbar-collapse {
        position: relative;
    }
    
    #Logo {
        font-family: Agency FB;
        font-size: 30px;
    }
    
    #ImagenPrincipal {
        background-color: rgba(0, 0, 0, 0.8);
        filter: brightness(0.8);
        width: 100%;
        -webkit-box-shadow: 0px 3px 18px 2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 3px 18px 2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 3px 18px 2px rgba(0, 0, 0, 0.75);
    }
    
    #Texto-Principal {
        font: 10 20px/1.2 'Merienda One', Helvetica, sans-serif;
        color: white;
        position: absolute;
        top: 350px;
        left: 5%;
        /* transform: translate(-50%, -50%); */
    }
    
    #Nombre {
        font-size: 35px;
    }
    
    .icon-circle-down {
        background-color: none;
        font-size: 38px;
        margin: auto;
        color: #555;
        margin-top: 20px;
    }
    
    #Contenedor-desplazador-primario {
        width: 100%;
        text-align: center;
    }
    
    #desplazador-primario {
        position: absolute;
        margin-top: -100px;
        text-align: center;
        align-items: center;
        color: white;
        opacity: 40%;
    }
    
    #SeccionTecnologias {
        margin-top: 70px;
        width: 100%;
    }
    
    #Label-Tecnologias {
        margin-top: 50px;
        text-align: center;
        font-size: 60px;
    }
    
    #ContenedorTecnologias {
        width: 100%;
        /* display: inline-block; */
        align-items: center;
        text-align: center;
    }
    
    .card {
        margin-left: 25px;
        margin-right: 25;
        margin-top: 30px;
        width: 250px;
        display: inline-block;
        text-align: center;
    }
    
    .card-img-top {
        width: 150px;
        margin: auto;
        margin-top: 15px;
    }
    
    .card-title {
        font-weight: bold;
    }
    
    #SeccionAcercaDeMi {
        display: block;
        position: static;
        /* align-items: center; */
        text-align: center;
    }
    
    #ContenedorAcercaDeMi {
        width: 90%;
        margin-left: 5%;
        /* display: inline-block; */
    }
    
    #ContenedorAcercaDeMi .jumbotron {
        margin-top: 50px;
        border-radius: 5px;
        text-align: justify;
        /* padding-bottom: 20px; */
    }
    
    #ContenedorAcercaDeMi img {
        float: right;
        margin-left: 50px;
        margin-bottom: 50px;
        border-radius: 10px;
        /* align-items: center; */
        vertical-align: middle;
        margin-bottom: 20px;
    }
    
    #SeccionProyectos {
        align-items: center;
        text-align: center;
        margin-top: 200px;
        width: 100%;
        margin-bottom: 200px;
    }
    
    #Label-Proyectos {
        text-align: center;
        margin-top: 60px;
    }
    
    .card-proyectos {
        width: 40%;
        min-width: 200px;
        /* max-height: 400px; */
    }
    
    .card-img-proyectos {
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
    }
    
    #SeccionContactame {
        padding: 300px;
        padding-top: 70px;
        padding-bottom: 0px;
    }
    
    #SeccionContactame h1 {
        text-align: center;
    }
    
    #SeccionContactame input[type=text] {
        width: 60%;
    }
    
    #SeccionContactame input[type=submit] {
        width: 20%;
        float: right;
    }
    
    #SeccionContactame label {
        margin-top: 10px;
    }
    
    #btn-arriba {
        padding: 15px;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #555;
        border-color: #555;
    }
    
    #ContenedorContactos a {
        display: inline-block;
        margin-top: 10px;
        align-items: center;
    }
    
    .icon {
        color: grey;
        /* opacity: 50%; */
        font-size: 30px;
        display: inline-block;
        border-radius: 70px;
        box-shadow: 0px 0px 2px black;
        padding: 0.5em 0.5em;
    }
    
    .icon-phone {
        margin-right: 5px;
    }
    
    .icon:hover {
        color: black;
        text-decoration: none;
    }
    
    #footer {
        width: 100%;
    }
    
    #FooterNombre {
        fill: #808080;
        font-size: 9px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }